@{
    ViewData["Title"] = "UserList";
}
@model List<AdminModel.UserViewModel>

<div class="text-center">
    <h1 class="fw-light">UserList</h1>
</div>


<div class="container mt-4">
    <table class="ui blue table selectable">
        <thead>
            <tr>
                <th>Id</th>
                <th>FullName</th>
                <th>Username</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>EmailConfirmed</th>
                <th>2-FactorEnabled</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>
                        @if (@item.IsEmailConfirmed)
                        {
                            <div class="text-center">
                                <i class="bi bi-person-fill-check text-primary fs-4"></i>
                            </div>
                        }
                        else
                        {
                            <div class="text-center">
                                <i class="bi bi-person-fill-x text-danger fs-4"></i>
                            </div>
                        }
                    </td>
                    <td>
                        @if (@item.IsTwoFactorEnabled)
                        {
                            <div class="text-center">
                                <i class="bi bi-person-fill-check text-primary fs-4"></i>
                            </div>
                        }
                        else
                        {
                            <div class="text-center">
                                <i class="bi bi-person-fill-x text-danger fs-4"></i>
                            </div>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>

